<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boiler Plate!!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> 
<link rel="stylesheet" href="/css/aboutstyle.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap" rel="stylesheet">
    <!-- About Us -->
    <!-- Description  -->
    <!-- Shivam -->
    <!-- Pranchal -->
    <!-- Kushagra -->
    <div id="about">
        <div class="row align-items-start" id="first"><div class="col" style=" display: inline-block;"><p class="main1">About us</p>
          <ul style="font-size: 40px; ">
          <li class="cl"><a href="#aim" class="bl">Aim</a></li>
          <li class="cl"><a href="#features" class="bl">Features</a></li>
          <li class="cl"><a href="#benifits" class="bl">Benifits</a></li></ul>
        </div>
        <div class="col">
        <img src="/images/logo2.png" alt="" style="height: 600px;" class="img-fluid" >
      </div>
        </div>
        <div class="container" style="font-size: 22px;" id="cont">
          <div class="row my-5" id="aim">
              <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                  <figure>
                      <img src="/images/img32.jpg" alt="" class="img-fluid about_img" style="width: 400px; height: 300px;">
                  </figure>
              </div>
              <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                  <h2>Our Aim</h2>
                  <p>The aim of this web application is to find solutions for students to remain in touch with their instructors. This way students will be able to get all the resouces which will be provided by their subject instructors such as notes, previous years test papers, journals which will be benificial for their studies.They will be not be able to miss any announcements which will be done by their instructors. By this all the students and instructors will be able toremain in one single platform.</p>
              </div>
          </div>
          <div class="row my-5 mar1" style="margin-top: 130px" id="features">
              <div class="col-lg-6 col-md-6 col-12 col-xxl-6 order-md-2">
                  <figure>
                      <img src="/images/img1.jpg" alt="" class="img-fluid about_img" style="width: 400px; height: 300px;">
                  </figure>
              </div>
              <div class="col-lg-6 col-md-6 col-12 col-xxl-6 ">
                  <h2>Features</h2>
                  <p>1)In this web application we have a Teacher Section where teachers can post any announcements or resources after successfully logging in. <br><br> 2)We have a student section where students can go to the section of their respective year and can check announcements. <br><br> 3)A discuss portal is also available where students can ask doubts by posting their comments.</p>
              </div>
          </div>
          <div class="row my-5" id="benifits">
            <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                <figure>
                    <img src="/images/img2 copy.jpg" alt="" class="img-fluid about_img" style="width: 400px; height: 300px;">
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                <h2>Benifits</h2>
                <p>By this web app students will remain updated by the teachers announcements. Discuss portal will increase interaction between students and teachers. Announcements can be posted by teachers to the class stream which can be commented on by students allowing for two-way communication between the teacher and students.Through this network faculty and students both will get benefited. Because both will get a platform for communicating with their counterparts online.</p>
            </div>
        </div>
        </div>
        <div class="second">
          <div class="im2">
            <img src="/images/logo3.webp" alt="" >
          </div><div style="text-align: center; "><p class="main2">The primary purpose of myClassroom is to streamline the process of sharing files between teachers and students.</p>
        </div>
        
        </div>
        </div>
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
    </html>