<% layout('layouts/boilerplate') %>
        <center><h6 class="alert alert-success" role="alert">Successfully Logged In</h6></center> 
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-7">
            <img class="img-fluid" src="/images/megaphone-announcement-with-paper-art-style_67590-497.jpg" alt="..." style="height;">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h4 class="card-title">Welcome Faculty</h4>
              <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                <a href="/admin/crud" class="btn btn-primary">Proceed</a>
              </div>
              <p class="card-text">Proceed inorder to make an announcement or resources.Here you can track your dynamically changing information about the announcements you make and keep a proper track of records inorder to delete and update the outdated once.</p>
              <h3 style="color: rgb(248, 141, 122);">Happy Teaching !</h3>
              <p class="card-text"><small class="text-muted">@ourSpace</small></p>
            </div>
          </div>
        </div>
      </div>