<!-- Margin top auto se uper kii margin khub jaade chodd degaa -->
<div class="footer bg-dark py-3 mt-auto">  
    <div class="container" style="text-align: center; margin: auto; color: white;">
        @ ourSpace 2021
    </div>
</div>

