<!-- Margin top auto se uper kii margin khub jaade chodd degaa -->
<div class="footer bg-dark py-3 mt-auto">  
    <div class="container">
        <span class="text-muted">&copy; Picnicly 2021</span>
    </div>
</div>

