<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ourSpace</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

          <ul class="navbar-nav mr-auto">


        <li>  <a class="nav-link" href="/">Home</a></li>
          <li> <a class="nav-link" href="/admin">Teacher Section</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/year" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/year/fy1">First Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/sy2">Second Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/ty3">Third Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/fy4">Final Year</a></li>
            </ul>
          </li>

          <li><a class="nav-link" href="/discuss">Discuss Portal</a></li>
          <li><a class="nav-link" href="/poll">I-Poll</a></li>
          <li><a class="nav-link" href="/vquiz">VQuiz</a></li>
          <li><a class="nav-link" href="/admin/about">About-us</a></li>
            </ul>
            <div class="navbar-nav ms-auto">
            <%  if(!currentUser)  {%>

                <a class="nav-link " href="/login">Login</a>
                <a class="nav-link " href="/Register">Register</a>
              <%} else{%>

              <a class="nav-link " href="/logout">Logout</a>
              <%}%>

              </div>

          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->



      </div>


    </div>
  </nav>
