<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">myClassroom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/admin">Teacher Section</a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/year/fy1">First Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/sy2">Second Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/ty3">Third Year</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/year/fy4">Final Year</a></li>
            </ul>
          </li>

          <a class="nav-link" href="/discuss">Discuss Portal</a>
          <a class="nav-link" href="/admin/about">About-us</a>
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>