@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
#img1{
    margin-top: 80px;
    margin-left: 100px;
    width: 80%;
    height: auto;
}
#img2{
    margin-top: 40px;
    margin-left: 180px;
    width: 300px;
    height: auto;
}
#third{
    margin-top: 80px;
    background-color: #5034F7;
    padding-left: 0px;
    padding-right: 0px;
    width: 60px;
    margin-left: 68px;
}
#third2{
    margin-top: 80px;
    background-color: #E8DF27;
    padding-left: 0px;
    padding-right: 0px;
    width: 60px;
    
}
#col2{
    margin-top: 80px;
}
#pstyle{
    color: #C6BCE3; 
    font-size: 25px; 
    margin-left: 100px; 
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
#p3style{
    color: #58565C; 
    font-size: 18px; 
    margin-left: 100px; 
    
    margin-bottom: 0px;
}
#p2style{
    color: #7D7B81; 
    font-size: 24px; 
    margin-left: 100px; 
    margin-top: 60px;
    margin-bottom: 0px;
}
#p4style{
    color: #C6BCE3; 
    font-size: 40px; 
    margin-left: 100px; 
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
#hstyle{
    margin-left: 100px; 
    color: #6739F2; 
    margin-top: 0px; 
    font-size: 70px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 0px;
}
#h2style{
    margin-left: 100px; 
    color: #F9B22D; 
    margin-top: 100px; 
    font-size: 70px;
    font-family: 'Palanquin Dark', sans-serif;
    margin-bottom: 0px;
}
#sb{
    border-radius: 30px; 
    font-size: 25px; 
    margin-left: 100px; 
    margin-top: 10px; 
    margin-left: 50px; 
    padding: 10px;
}
@media only screen and (max-width: 415px) {
    #img1,#img2{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
    #h2style{
        text-align: center;
        color: #F9B22D; 
        margin-top: 5px; 
        font-size: 40px;
        font-family: 'Palanquin Dark', sans-serif;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    #col2{
        margin-top: 20px;
    }
    #col1{
        text-align: center;
    }
    
    #pstyle{
        margin-top: 0px;
    }
    #sb{
        margin-left: 100px;
    }
  }

  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}