<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>myClassroom</title>
  <meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles-discuss.css">

</head>
  <body>

    <%- include('../../partials/navbar') %>
                            <!--     .. selects parent directory from current -->
          <div>
            <br>
              <button class="btn btn-success">
                <a class="nav-link" href="/discuss/compose">Compose</a>
              </button>
          </div>

    <div class="container vh-100">
