<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/fysytyfy.css">

Seventh Semester

<div class="container t-border">
    <div class="row t-border f1-box">
        <div class="col-sm-2 t-border imgd" style="width:33%;">
        </div>
        <div class="col-sm-2 t-border imgd" style="width:33%;">
        </div>
        <div class="col-sm-2 t-border imgd" style="width:33%;">
        </div>
    </div>
    <div class="row t-border">
        <div class="col-sm-4 t-border">
            Elective-1 (E7-1)
        </div>
        <div class="col-sm-4 t-border">
            Elective-2 (E7-2)
        </div>
        <div class="col-sm-4 t-border">
            Major Project (MP)
        </div>
    </div>
    <div class="row t-border f-box">
        <div class="col-sm-4 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-1"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-4 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-2"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MP"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>

Eight Semester

<div class="container t-border">
    <div class="row t-border f1-box">
        <div class="col-sm-2 t-border imgd" style="margin: 0px auto;">
        </div>
    </div>
    <div class="row t-border">
        <div class="col-sm-12 t-border">
            Major Project / Internship (MP/I)
        </div>
    </div>

    <div class="row t-border f-box">
        <div class="col-sm-12 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MPI"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
