<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/fysytyfy.css">

Seventh Semester

<div class="container">
    <div class="row inc btc f1-box">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1" style="border-right: 1px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-1" style="border-left: 1px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1" style="border-right: 0px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-1" style="border-left: 2px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1">
        </div>
        
    </div>
    <div class="row f2-box">
        <div class="col-sm-4 inc btc2">
            Elective-1 (E7-1)
        </div>
        <div class="col-sm-4 inc btc2">
            Elective-2 (E7-2)
        </div>
        <div class="col-sm-4 inc btc2">
            Major Project (MP)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-4 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-1"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-4 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-2"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-4 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MP"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>

Eight Semester

<div class="container">
    <div class="row inc f1-box btc">
        <div class="col-sm-2 imgd" style="margin: 0px auto;">
        </div>
    </div>
    <div class="row f2-box">
        <div class="col-sm-12 inc btc2">
            Major Project / Internship (MP/I)
        </div>
    </div>

    <div class="row f-box">
        <div class="col-sm-12 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MPI"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
