<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select your Year</title>
</head>
<body>
    <a href="/year/fy1">First Year</a>
    <a href="/year/sy2">Second Year</a>
    <a href="/year/ty3">Third Year</a>
    <a href="/year/fy4">Fourth Year</a>
</body>
</html>