<% layout('layouts/boilerplate') %>
    <a href="/year/fy1">First Year</a>
    <a href="/year/sy2">Second Year</a>
    <a href="/year/ty3">Third Year</a>
    <a href="/year/fy4">Fourth Year</a>
    <!-- Kushagra -->