<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/design3.css">
    <!-- <a href="/year/fy1">First Year</a> -->
    <!-- <a href="/year/sy2">Second Year</a> -->
    <!-- <a href="/year/ty3">Third Year</a> -->
    <!-- <a href="/year/fy4">Fourth Year</a> -->
    <!-- Kushagra -->
    
        <div class="up" style="display: inline-block;">
         
      <h2>Select your <br> particular year</h2>
          
      <div class="one">
          <div class="card" style="width: 18rem;">
              
              <div class="card-body" id="main">
                <h5 class="card-title" style="font-size: 50px;">1st Year</h5>
                <p class="card-text" style="margin-top: 0px;">In order to join-</p>
                <a href="/year/fy1" class="btn btn-primary" id="btn" style="width: 100%;">Click Here</a>
              </div>
            </div>
      </div>
      <div class="two">
          <div class="card" style="width: 18rem;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px;">2nd Year</h5>
                <p class="card-text" style="margin-top: 0px;">In order to join-</p>
                <a href="/year/sy2" class="btn btn-primary" style="width: 100%;">Click Here</a>
              </div>
            </div>
      </div>
      <div class="three">
          <div class="card" style="width: 18rem;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px;">3rd Year</h5>
                <p class="card-text" style="margin-top: 0px;">In order to join-</p>
                <a href="/year/ty3" class="btn btn-primary" style="width: 100%;">Click Here</a>
              </div>
            </div>
      </div>
      <div class="four">
          <div class="card" style="width: 18rem;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px;">4th Year</h5>
                <p class="card-text" style="margin-top: 0px;">In order to join-</p>
                <a href="/year/fy4" class="btn btn-primary" style="width: 100%;">Click Here</a>
              </div>
            </div>
      </div>
      <p class="last">The primary purpose of myClassroom is to streamline the process of sharing files between teachers and students.</p>
    </div>
  
  