<%- include('partials/header') %>
<div class="container">
    <div>
        <img src="/images/examimg.jpg" alt="" height="300px" width="auto">
        <div>
            <a href="http://127.0.0.1:5000/" target="_blank" rel="noopener noreferrer">Quiz</a>

        </div>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>