<% layout('layouts/boilerplate') %>
    <form action="/admin/crud" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="resource[name]"> 
        </div>
        <div>
            <label for="year">Year</label>
            <input type="text" id="year" name="resource[year]"> 
        </div>
        <div>
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="resource[subject]"> 
        </div>
        <div>
            <label for="type">Type</label>
            <input type="text" id="type" name="resource[type]"> 
        </div>
        <div>
            <label for="type_title">Type-Title</label>
            <input type="text" id="type_title" name="resource[type_title]"> 
        </div>
        <div>
            <label for="text">Text</label>
            <input type="text" id="text" name="resource[text]"> 
        </div>

        <button>!! Add !!</button>
        <div>
            <a href="/admin/crud">All Announcement</a>
        </div>
        
    </form>